[mysqld]
# Only allow connections from localhost
#bind-address = 127.0.0.1

#sql_mode = "STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
sql_mode = "NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"

general_log_file        = /var/log/mysql/mysql.log
general_log             = 1

#
# Error log - should be very few entries.
#
log_error = /var/log/mysql/error.log

# Here you can see queries with especially long duration
slow_query_log_file = /var/log/mysql/mysql-slow.log
slow_query_log      = 1
long_query_time = 2
log_queries_not_using_indexes

innodb_file_per_table = 1
# innodb_file_format = Barracuda
# innodb_file_format_max = Barracuda
# innodb_file_format_check = ON

net_read_timeout = 120

innodb_strict_mode = off
